{
  "extends": [
    "stylelint-config-standard",
    "stylelint-prettier/recommended",
    "stylelint-order-config-standard"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "value-keyword-case": [
      "lower",
      {
        "ignoreKeywords": ["/^[A-z]/", "props"]
      }
    ]
  }
}
